################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business/obj
/DataBaseAccess/bin/Debug/netcoreapp2.1
/DataBaseAccess/obj
/.vs
/Business/bin/Debug/netcoreapp2.1
/DependencyInjection/bin/Debug/netcoreapp2.1
/DependencyInjection/obj
/Dtos/bin/Debug/netcoreapp2.1
/Dtos/obj
/GraphQL/bin/Debug/netcoreapp2.1
/GraphQL/obj
/Model/bin/Debug/netcoreapp2.1
/Model/obj
/Utils/bin/Debug/netcoreapp2.1
/Utils/obj
/Web/bin/Debug/netcoreapp2.1
/Web/obj
/Business/bin/Release/netcoreapp2.1
/DataBaseAccess/bin/Release/netcoreapp2.1
/DependencyInjection/bin/Release/netcoreapp2.1
/Dtos/bin/Release/netcoreapp2.1
/GraphQL/bin/Release/netcoreapp2.1
/Model/bin/Release/netcoreapp2.1
/Utils/bin/Release/netcoreapp2.1
/Web/bin/Release/netcoreapp2.1
